.card-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  .btn{
     
      color:#fff;
      border-radius: 5px;
      transition: 0.5s ease-in-out;
      border:none;
  }
  .btn:hover{
      color:#fff;
      transform: scale(1.2); 
  }